body {
    background-color: rgba(213, 217, 224, 0.788);
    margin: 200px;
}

header {
    text-align:center;
}

#retrato {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#titulo{
    font-style:oblique,italic;
    font-family:Tahoma;
    text-decoration:underline;
    color:rgb(40, 51, 49);
}

.texto {
    text-align:left;
    font-family:Cambria;
}

a{
    color: #36c;
    border-radius: 2px;
    text-decoration:none;
}
a:hover {
    color:#3056a9;
    text-decoration:underline;

}

#container {
  margin: 40px;              
  padding: 20px;             
  background-color: #8cdfcd; 
}

img[alt^="ODS"]{
    width:150px;
    height:150px;
}

.secao{
    background-color:rgb(221, 214, 149);
}